pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy_logs",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_input_csv_catch_logs",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_write_logs_test",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_logs_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dataloadlog]",
					"storedProcedureParameters": {
						"filename": {
							"value": {
								"value": "Input_demo_01.csv",
								"type": "Expression"
							},
							"type": "String"
						},
						"log": {
							"value": {
								"value": "@activity('Copy_logs').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": {
								"value": "'Success'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_az_sql_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_logs_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_logs",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dataloadlog]",
					"storedProcedureParameters": {
						"filename": {
							"value": {
								"value": "Input_demo_01.csv",
								"type": "Expression"
							},
							"type": "String"
						},
						"log": {
							"value": {
								"value": "@string(activity('Copy_logs').output.errors)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": {
								"value": "'Failure'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_az_sql_01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}