pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "copyData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Table_1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_onPrem_input01",
						"type": "DatasetReference",
						"parameters": {
							"dbName": {
								"value": "@pipeline().parameters.dbName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_onPrem_output01",
						"type": "DatasetReference",
						"parameters": {
							"tgtDataBase": {
								"value": "@pipeline().parameters.tgtDbName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copyData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorCode",
					"value": {
						"value": "@string(activity('copyData').output.errors[0].Message)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copyData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "success",
					"value": "Completed"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertErrorLog]",
					"storedProcedureParameters": {
						"ActivityID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"Details": {
							"value": {
								"value": "'Pipeline Failed'",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "11000",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorDetails": {
							"value": {
								"value": "@variables('ErrorCode')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "User Cofig Issue",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlServer_tgt_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"dbName": {
				"type": "string",
				"defaultValue": "Project_database_dev01"
			},
			"tgtDbName": {
				"type": "String",
				"defaultValue": "Project_database_dev01_tgt"
			}
		},
		"variables": {
			"success": {
				"type": "String"
			},
			"ErrorCode": {
				"type": "String"
			}
		},
		"annotations": []
	}
}